@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
* {
  margin: 0 auto;
}
html {
  font-family: "San Francisco";
}
#card {
  width: 100%;
  background-color: white;
  margin-top: 25%;
  padding: 2%;
}
#quote {
  padding: 3%;
  font-size: 1.75rem;
}
#author {
  margin-left: 45%;
  font-size: 1rem;
}
#tweet {
  display: inline;
}
#new-quote {
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  width: 98px;
  height: 48px;
  margin-left: 30%;
}
a  {
  text-decoration: none;
}
